<div ng-controller="VideoCtrl" style="display:inline-block;float:right">
	<form>
		<label>YouTube ID/URL*</label>
		<input type="text" ng-model="video.id" ng-change="video.wrongURL = false" required>
		<br />
		<br />
		<label>Start time</label>
		<input type="number" ng-model="video.start">
		<br />
		<br />
		<label>End time</label>
		<input type="number" ng-model="video.end">
		<br />
		<br />
		<label>Title</label>
		<input type="text" ng-model="video.title">
		<br />
		<br />
		<button ng-click="addVideo()">Add Video to Library</button>
	</form>
</div>